<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/jpg" href="../images/favicon.ico"/>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/vanilla.css" />
    <link rel="stylesheet" href="../css/popup.css" />
    <title>Jara App</title>
  </head>
  <body>
    <header>
        <div class="topnav">
            <img class="logo" src="../images/logo.png" alt="">
            <a class="active" href="/">Home</a>
            <!-- <button class="open-button" onclick="openFormPopupProject()">Tạo dự án</button> -->
            <button class="open-button" onclick="openListProject()">Dự án</button>
            <div class="list-project">
                <a onclick="openFormPopupProject()"><li>Tạo dự án</li></a>
            <%
              if(list_project && list_project.length > 0){
                list_project.forEach((item)=>{
            %>
                <a href="/project?name=<%= item.slug_project %>"><li><%= item.name_project %></li></a>
            <%
                });
              }
            %>
            </div>
            <button class="open-button" onclick="openFormPopup()">Tạo nhiệm vụ</button>
            <img class="avatar open-account-current" onclick="openAccount()" src="https://kenh14cdn.com/2020/5/15/10-1589526442308960287468.jpg" alt="">
            <div class="content-account-current">
                <input type="hidden" id="id-current-account" class="id-current-account" value="<%= info.id %>">
                <h4 class="name-current-account">Tên: <%= info.name %></h4>
                <p class="email-current-account">Email: <%= info.email %></p>
                <img src="../images/logout.png" id="logout" title="Đăng xuất" alt="Đăng xuất" class="icon icon-logout button-current-account">
                <img src="../images/edit.png" title="Sửa thông tin" alt="Sửa thông tin" class="icon icon-edit button-current-account">
            </div>
        </div>
    </header>